[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brandr"]
	path = brandr
	url = https://github.com/danielvartan/brandr
[submodule "logolink"]
	path = logolink
	url = https://github.com/danielvartan/logolink
